<!DOCTYPE html>
<html>
<head>
<title>Jarvis AI</title>
</head>

<body>

<h1>🤖 JARVIS</h1>

<p id="text">Click and speak</p>

<button onclick="startListening()">🎙️ Start Listening</button>

<script>

let recognition = new webkitSpeechRecognition();

recognition.continuous = true;
recognition.interimResults = false;
recognition.lang = "en-US";


function startListening(){

document.getElementById("text").innerHTML = "Listening...";

recognition.start();

}


recognition.onresult = function(event){

let command = event.results[event.results.length-1][0].transcript.toLowerCase();

document.getElementById("text").innerHTML = "You said: " + command;


if(command.includes("hello")){

speak("Hello, I am Jarvis. How can I help you?");

}


else if(command.includes("time")){

let time = new Date().toLocaleTimeString();

speak("The time is " + time);

}


else if(command.includes("youtube")){

speak("Opening YouTube");
setTimeout(function(){
window.location.href = "https://youtube.com";

}, 1500);
}


else{

speak("Sorry, I don't understand that yet");

}

}



function speak(message){

let speech = new SpeechSynthesisUtterance();

speech.text = message;

window.speechSynthesis.speak(speech);

}



recognition.onend = function(){

recognition.start();

}


</script>
</body>
</html>